{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": ["last 2 versions"],
            "node": "current"
          },
          "debug": false
        }
      ],
       "@babel/preset-react",
    ],
    "env": {
      "development": {
        "presets": [
          ["@babel/preset-react", { "development": true }], 
          ["@emotion/babel-preset-css-prop", {"sourceMap": true}]
        ],
      }
    },
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"],
    "minified": false
  }